parameters:
    level: 8
    paths:
        - bin/
        - config/
        - public/
        - src/
    excludePaths:
        - config/reference.php
    ignoreErrors:
        - '#Property App\\Entity\\User::\$id \(int\|null\) is never assigned int#'
