networks:
  nginx:
    external: true


services:

  app-google:
    build:
      context: ../
      dockerfile: .docker/Dockerfile
      target: development
    container_name: app-google
    restart: unless-stopped
    ports:
        - "8000:8000"
    volumes:
      - /var/www/app-google/vendor
      - ../:/var/www/app-google/
      - ${PATH_PROJECTS_LOGS}/app-google-auth/:/var/log/apache2/:rw
    environment:
      APP_ENV: dev
#      APP_SECRET: ${APP_SECRET:-change_me_in_prod}
    networks:
      - nginx

  app-google-prod:
    build:
      context: ../
      dockerfile: .docker/Dockerfile
      target: production
    container_name: app-google-prod
    restart: unless-stopped
    environment:
      APP_ENV: prod
      APP_SECRET: ${APP_SECRET:-change_me_in_prod}
      VIRTUAL_HOST: app-google.dlyhub.com
      LETSENCRYPT_HOST: app-google.dlyhub.com
      LETSENCRYPT_EMAIL: ${DEFAULT_EMAIL}
    networks:
      - nginx
